.card {
	flex: 0 0 32%;
	max-width: 32%;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
	border-radius: 8px;
	padding: 26px 24px 24px;
	margin-bottom: 24px;
	cursor: pointer;
	&__top {
		display: flex;
		align-items: center;
	}

	&__img {
		margin-right: 11px;
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		color: $main-color;
	}

	&__desc {
		line-height: 22px;
	}
}

@media screen and (max-width: 1024px) {
	.card {
		flex: 0 0 49%;
		max-width: 49%;
	}
}

@media screen and (max-width: 600px) {
	.card {
		flex: 0 0 100%;
		max-width: 100%;
		&__desc {
			display: none;
		}
	}
}