@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-size: $font-size;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	&.lock {
		overflow: hidden;
	}
}

.container {
	max-width: 1032px;
	margin: 0 auto;
	padding: 0 15px;
}