.header-wrap {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	&__logo {
		position: relative;
		z-index: 5;
	}
	&__btn {
		width: 145px;
		height: 37px;
		background-color: #4ABF3A;
		border: none;
		border-radius: 2px;
		position: relative;
		z-index: 2;
	}
	&__link {
		font-size: $main-color;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.header-nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	margin-top: 10px;
	&__list {
		display: flex;
		align-items: center;
		list-style: none;
		position: relative;
		z-index: 2;
	}

	&__item {
		margin-right: 24px;
	}

	&__link {
		font-size: $font-size;
		color: $main-color;
		text-decoration: none;
	}
	
	.router-link-active {
		text-shadow: 0 0 0.8px $main-color, 0 0 0.8px $main-color;
	}
}

.burger {
	display: none;
}

@media screen and (max-width: 1025px) {
	.nav {
		padding: 70px 10px 20px;
		&__list {
			flex-direction: column;
		}
		&__item {
			margin: 0 0 20px 0;
		}
		&__link {
			font-size: 22px;
		}
	}
	.header-wrap {
		height: 66px;
	}
	.burger {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		z-index: 3;
		span {
			width: 100%;
			height: 2px;
			background-color: #009CD8;
			position: absolute;
			left: 0;
			top: 12px;
			transition: all .3s ease 0s;
		}
		&::before,
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background-color: #009CD8;
			position: absolute;
			left: 0;
			transition: all .3s ease 0s;
		}
		&::before {
			top: 4px;
		}
		&::after {
			bottom: 2px
		}
		&.active::before {
			transform: rotate(45deg);
			top: 12px;
		}
		&.active::after {
			transform: rotate(-45deg);
			bottom: 10px;
		}
		&.active span {
			transform: scale(0);
		}
	}
	.header-nav-wrapper {
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
		background-color: #fff;
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		transition: all .3s ease 0s;
		&.active {
			top: 0;
		}
	}
}
