.services {
	padding-top: 100px;
	margin-top: 56px;
}
.services-content {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 24px;
		color: $main-color;
		font-weight: 700;
	}

	&__link {
		font-size: 16px;
		color: $main-color;
		font-weight: 400;
		text-decoration: none;
	}
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 40px;
		&::after {
			content: '';
			flex: 0 0 32%;
		}
	}
}

.cards-block {
	padding-top: 100px;
}

.event {
	padding-top: 100px;
}