<template>
	<div class="services">
		<div class="container">
			<div class="services-content">
				<div class="services-content__top">
					<h4 class="services-content__title">Государственные услуги</h4>
					<a href="#" class="services-content__link">Все услуги</a>
				</div>
				<div class="services-content__cards">
					<EventCard
						v-for="event in EVENTS"
						:key="event.id"
						:event_data="event"
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
// @ is an alias to /src
import EventCard from '@/components/EventCard.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
	components: {
		EventCard
	},
	data() {
		return {
			// events: [
			// 	{
			// 		id: '1',
			// 		image: 'bank.svg',
			// 		title: 'Керемет Банк',
			// 		description:
			// 			'POS-терминалы ОАО «Керемет Банк», Информация о платежах…'
			// 	},
			// 	{
			// 		id: '2',
			// 		image: 'car.svg',
			// 		title: 'Транспорт и вождение',
			// 		description:
			// 			'Car Check, Информация о налогах на технические средства…'
			// 	},
			// 	{
			// 		id: '3',
			// 		image: 'id-card.svg',
			// 		title: 'Паспорта и удостоверения',
			// 		description:
			// 			'Наличие документа в бюро находок, Проверка готовности паспорт…'
			// 	},
			// 	{
			// 		id: '4',
			// 		image: 'wallet.svg',
			// 		title: 'Работа, пенсия, налоги',
			// 		description:
			// 			'Справка по безработице, Проверка налоговой задолженности…'
			// 	},
			// 	{
			// 		id: '5',
			// 		image: 'health-doc.svg',
			// 		title: 'Медицина и страхование',
			// 		description:
			// 			'Загрузка данных по полисам ОМС, Проверка задолженности по…'
			// 	},
			// 	{
			// 		id: '6',
			// 		image: 'inhouse.svg',
			// 		title: 'Недвижимое имущество',
			// 		description: 'История прав на недвижимое имущество, Выписка из гос…'
			// 	},
			// 	{
			// 		id: '7',
			// 		image: 'education.svg',
			// 		title: 'Образование',
			// 		description: 'Проверка диплома о высшем образовании, Проверка аттест…'
			// 	},
			// 	{
			// 		id: '8',
			// 		image: 'family-3.svg',
			// 		title: 'Семья и дети',
			// 		description:
			// 			'Сведения о семейном статусе, Проверка статуса заявления…'
			// 	}
			// ]
		}
	},
	computed: {
		...mapGetters(['EVENTS'])
	},
	methods: {
		...mapActions(['GET_EVENTS_FROM_API'])
	},
	mounted() {
		this.GET_EVENTS_FROM_API()
	}
}
</script>
