<template>
	<router-link tag="div" class="card" :to="'/event/' + event_data.id">
		<div class="card__top">
			<img
				class="card__img"
				:src="require('../assets/icons/' + event_data.image)"
				:alt="event_data.title"
			/>
			<h4 class="card__title">{{ event_data.title }}</h4>
		</div>
		<p class="card__desc">
			{{ event_data.description }}
		</p>
	</router-link>
</template>

<script>
export default {
	props: {
		event_data: {
			type: Object,
			default() {
				return {}
			}
		}
	}
}
</script>
