<template>
	<div class="event" v-if="EVENT !== null">
		<div class="container">
			<img
				:src="require('../assets/icons/' + EVENT.image)"
				:alt="EVENT.title"
			/>
			<h4>{{ EVENT.title }}</h4>
			<p>{{ EVENT.description }}</p>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'
export default {
	computed: {
		...mapGetters(['EVENT'])
	},
	methods: {
		...mapActions(['GET_EVENT_FROM_API'])
	},
	mounted() {
		this.GET_EVENT_FROM_API(this.$route.params.id)
	}
}
</script>
