<template>
	<header class="header">
		<div class="container">
			<div class="header-wrap">
				<router-link class="header__logo" to="/">
					<img src="../assets/keremet-logo.svg" alt="Керемет" />
				</router-link>
				<div :class="['burger', { active: active }]" @click="toggleMenu">
					<span></span>
				</div>
				<div :class="['header-nav-wrapper', { active: active }]">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item">
								<router-link class="nav__link" to="/cards">Карты</router-link>
							</li>
							<li class="nav__item">
								<router-link class="nav__link" to="/deposits"
									>Вклады</router-link
								>
							</li>
							<li class="nav__item">
								<router-link class="nav__link" to="/credits"
									>Кредиты</router-link
								>
							</li>
							<li class="nav__item">
								<router-link class="nav__link" to="/mortgage"
									>Ипотека</router-link
								>
							</li>
							<li class="nav__item">
								<router-link class="nav__link" to="/money-transfers"
									>Денежные переводы</router-link
								>
							</li>
							<li class="nav__item">
								<router-link class="nav__link" to="/portal">Портал</router-link>
							</li>
						</ul>
					</nav>
					<button class="header__btn">
						<router-link class="header__link" to="/internet-bank"
							>Интернет банк</router-link
						>
					</button>
				</div>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	data() {
		return {
			active: false
		}
	},
	methods: {
		toggleMenu() {
			this.active = !this.active
			this.setBodyClass()
		},
		setBodyClass() {
			var body = document.body
			body.classList.toggle('lock')
		}
	}
}
</script>
